.MemoDetails {
  text-align: left;

  border: 1px solid;
  box-shadow: 3px 3px 3px gray;
  overflow: hidden;
  background-color: #f7f7b2;
  width: 60vh;
  height: 40vh;
  margin: auto;
  margin-top: 1em;
  display: flex;
  flex-direction: column;


  h1 {
    // background-color: orange;
    font-weight: bold;
    margin: 0;
    padding-left: 0.5em;
    flex: 1;
  }

  p {
    font-size: 1.2em;
    font-weight: 500;
    margin: 0;
    padding-left: 0.5em;
    flex: 3
  }

  h2 {
    font-size: 0.8em;
    margin-left: 1em;
  }

  .memo-bottom {
    flex: 1;

    .linked-persons {
      font-size: 0.5em;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}

.LinkSection {
  text-align: left;
  width: 60vh;
  margin: auto;

  h2 {
    font-size: 0.8em;
    margin-left: 1em;
  }

  .can-link-persons {
    font-size: 0.5em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}