.Person {
  border: 1px solid;
  border-radius: 10px;
  width: auto;
  padding: 1em;
  margin: 0 1em 1em 1em;
  box-shadow: 3px 3px 3px gray;
  font-size: 2em;
  font-weight: bold;
  background-color: white;
  display: flex;
  flex-direction: row;

  p {
    margin: 0;
  }

  button {
    border: 0;
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
  }

  &:hover {
    opacity: 0.6;
  }

  &.removeable {
    &:hover {
      opacity: 1;

      button {
        opacity: 0.6;
      }
    }

  }

  &:not(.removeable) {
    cursor: pointer;
  }
}