.Memo {
  width: auto;
  margin: 0.2em;
  padding: 1em;
  box-shadow: 3px 3px 3px gray;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &.new {
    border-left: 5px solid orange;
    background-color: #f7f7b2;
  }

  &.completed {
    border-left: 5px solid #5a5a5a;
    background-color: #d6d6d6;
  }

  &:hover {
    opacity: 0.6;
    cursor: pointer;
  }

  .TaskContent {
    text-align: left;
    padding-left: 1em;

    .TaskStatus {
      margin-left: 1em;
      border: 1px solid;
      font-size: 0.8em;
      padding: 2px;
    }
  }

}